body, a {
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
    color: #696969;
}

div .view-container {
    border: 2px #E9E9E9 solid;
    padding: 30px;
}

h1 {
	font-weight: 300;
}

hr {
    height: 8px;
    border: 0;
    background: #EDEDED;
}

a:hover {
    color: orange;
    text-decoration: none;
}

.pagination a {
    color: #FFA500 !important;
}

.pagination .active a {
    color: white !important;
    background-color: #FFA500 !important;
    border-color: #FFA500 !important;
}

table, th, tr, td {
    border-left: none !important;
    border-right: none !important;
    background: transparent !important;
}

tr:hover {
  color: #FFA500;
}

.btn {
    border-color: white;
    border-width: 2px;
    border-radius: 13px;
    height: 28px;
    padding: 2px 20px 0 20px;
    box-shadow: 0px 2px 1px #BDBDBD;
}

.btn-success, .btn-primary {
    background-color: #FFA500;
}

.btn-success:hover, .btn-primary:hover,
.btn-success:active, .btn-primary:active {
    background-color: #EE7600 !important;
    border-color: #D66A00 !important;
}

.loan-index input {
    width: 100px;
    height: 30px !important;
}

.user-index input {
    width: 150px;
    height: 30px !important;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: black;
}

.left {
    float: left;
    line-height: 40px;
    margin-left: 17%;
}

.customer-service li {
    color: white;
    display: inline;
    padding-right: 25px;
}

.right {
    float: right;
    line-height: 37px;
    margin-right: 18.5%;
}

.authentication li {
    display: inline;
    padding-right: 5px;
}

.navbar-white {
    top: 40px;
    height: 60px;
    border-bottom: solid 2px #DDDDDD;
    background-color: white;
}

.logo {
    position: relative;
    top: -4px;
}

.navbar-center {
    position: absolute;
    width: 100%;
    top: 4px;
    left: 0;
    margin: auto;
    margin-left: 40%;
}

.navbar-center a {
    font-weight: bold;
    font-size: 18px;
}

.navbar-center a:hover { 
    background-color: transparent !important; 
    text-decoration: none !important;
}

.wrap, .footer {
    position: relative;
    top: 45px !important;
}